<nav class="navbar navbar-expand-md navbar-dark bg-success py-3">
    <div class="container">
      <a class="navbar-brand" href="/">
        AI for Urban Planning
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#agenda">Agenda</a></li>
          <li class="nav-item"><a class="nav-link" href="#photos">Photos</a></li>
          <li class="nav-item"><a class="nav-link" href="#posters">Posters</a></li>
          <li class="nav-item"><a class="nav-link" href="#topics">Topics</a></li>
        </ul>
      </div>
    </div>
  </nav>